body{
    overscroll-behavior-y:contain;
}
.Parametertable input{
    display: none;
    background-color: #00FF00;
}
h1 {
    text-align: left;
    font-size: 6vmin;
}
#loading{
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 5vmin;
    width: 45vmin;
    height: 12vmin;
    padding-left:20px;
    padding-top:10px;
    border-radius: 5px;
    margin: -15vmin 0 0 -30vmin;

}
#loading .loadimg{
    width: 10vmin;
    height:10vmin;
}
#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 9998;
}
.container{
    max-width: 1140px;
}
.container button{
    color: white;
    font-size: 4.5vmin;
}
.container .float-left{
    font-size: 3.7vmin;
}

.container .Features{
    margin-top: 5px;
    font-size: 3.5vmin;
}
td{
    word-wrap: break-word;
}

.table td, .table th {
    padding: 0 !important
}
input{
    border-radius:4px;border:1px solid #DBDBDB;
}
.Otimer{
    margin-top:10px;
    font-size: 4vmin;
    background-color: #baeeff;
    border-radius:3px;
}
.Otimer  .pageTime #DateVal{
    width:35vmin;
    text-align: center;
    margin-top: 5px;

}
.Otimer .pageTime #TimeVal {
    width: 15vmin;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px white;
    text-align: center;
}
#B_CUR{
    text-transform:uppercase;
}
#C_CUR{
    text-transform:uppercase;
}
#PBList{
    font-size: 30px;
}
#PBList  input[type=radio] {
    width: 30px;
    height: 30px;
    margin-top: 5px!important;
}
#GTList input[type=checkbox]{
    width: 4.5vmin;
    height: 4.5vmin;
}
#INList  input[type=checkbox]{
    width: 4.5vmin;
    height: 4.5vmin;
}
